*,*::before,*::after{
    margin: 0px 0px 0px 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body {
    height: 100%;
  }
  
  .body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

.adminSider {
    background-color: #7F7F7F;
}

.header {
    height: 85vh;
    background-color: #7F7F7F;
    margin: 10px;
    margin-bottom: 0px;
    display: flex;

}

.selskap{
    background-color: rgb(255, 255, 255);
    flex: 0 0 49%;
}
.selskap select, .bil select{

    margin-left: 260px;
    text-align: center;
    padding: 0.5em 2em;
    color: white;
    background-color: #7F7F7F;
    border-radius: 10px;
}

#deleteBtnSelskap{
  display: block;
  margin-top: 10px;
  margin-left: 277px;
  text-align: center;
  padding: 0.5em 2em;
  color: white;
  background-color: black;
  border-radius: 5px;
}
#deleteBtnBil{
  display: block;
  margin-top: 10px;
  margin-left: 263px;
  text-align: center;
  padding: 0.5em 2em;
  color: white;
  background-color: black;
  border-radius: 5px;
}
.selskap h2, .bil h2{
  margin-top: 10px;
}

.bil{
    background-color: rgb(255, 255, 255);
    flex: 0 0 49%;
}


.bil,.selskap{
    margin-left: 5px;
}

/* showdatabase.js*/

.showData{
    background-color: rgb(255, 255, 255);
    flex: 50%;
    margin-left: 5px;
    margin-right: 17px;
}

.footer {
    background-color: #7F7F7F;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: auto;
    height: 8vh;
  }

  .headline{
    text-align: center;
  }

  #KnpUpdate {
    display: block;
    margin-top: 5px;
    text-align: center;
    padding: 0.5em 2em;
    color: white;
    background-color: black;
    margin-left: 120px;
  }
  
  #selskapForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
  }

  .selectBil{
    margin-top: 50px;
    display: block;
    margin-bottom: 10px;
  }

  .selectVersion{
    margin-top: 15px;
    display: block;
  }

  #Lbl {
    margin-left: 185px;
  }

#knapp{
  text-align: center;
  padding: 0.5em 2em;
  color: white;
  background-color: black;
  border-radius: 5px;
  display: block;
  margin-left: 50px;
  margin-top: 5px;
}

.labels{
  margin-top: 5px;
  margin-left: 10px
}
/*
.selskap select, .bil select{
  margin-top: 150px;
}*/

#deleteSelskap, #deleteBil{
  margin-top: 150px;
}

#updateKnapp{
  text-align: center;
  padding: 0.5em 2em;
  color: white;
  background-color: black;
  display: block;
  margin-top: 5px;
  border-radius: 5px;
}

.form-row input{
  display: block;
  margin-left: 90px;
}
