.sidenav {
    height: 65%;
    width: 200px;
    margin-top: 75px;
    margin-left: 15px;
    position: fixed;
    z-index: 2;
    background-color: rgba(158, 158, 158, 0.623);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-radius: 15px;
  }
  .hamburger-meny::after{
    content: "☰";
    width: 50px;
    height: 50px;
    display: block;
    background-color: white;
    border-radius: 100px;
    position: relative;
    top: 550px;
    z-index: 1;
    text-align: center;
    transform: translateY(0%);

  }
  .hide{
    display: none;
  }

  .informasjon::after{
    content:"i";
    display: block;
    background-color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 3em;
    border-radius: 100px;
    position: relative;
    left: 90px;
  }
  .infotext{
    visibility: hidden;
    width: 240px;
    height: 240px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    border-radius: 30px;
    margin-left: 5px;
  }
  .informasjon.active .infotext{
    visibility: visible;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
 
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
    .hamburger-meny::after {
      transform: translateY(1500%);
    }   
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
    border-color: rgba(158, 158, 158, 0);
    background-color: rgba(158, 158, 158, 0);
    color: #000000;
    cursor: pointer;
  }
  
  .menu-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
  
  .menu-dropdown {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #fff;
    color: #111;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  #adminBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    padding: 0.5em 1em;
    color: white;
    background-color:black;
  }
  
  .car-details{
    display: none;
    opacity: 0;
    visibility: hidden;
  }

 #range_label{
  margin-left: 17px;
 }
 #rangeLabel{
  margin-left: 15px;
 }

 .form{
  width: 200px;
 }

 #kontaktType{
  margin-left: 15px;

 }

 .kontakt_type{
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #ffffff;
    color: #111;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    border-radius: 10px;
 }

#rangeBatteri{
  display: block;
  margin-left: 40px;
}
#range_batteri{
  margin-left: 5px;
}
#maxLevel{
  margin-left: 130px;
}

#ladetid{
 display: block;
  
}

#maxMin{
  margin-left: 100px;
}

/*Fra her: Ble det brukt mye av det samme css som:
   https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  text-align: center;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  
  background-color: #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Til her: Ble det brukt mye av det samme css som:
   https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
#årstall{
  display: block;
  text-align: center;
}

#sommer{
  padding: 10px;
  text-align: left;
}
#vinter{
  
  margin-left: 10px;
}

.årstid{
  font-weight: bold;
  color: #2196F3;
}

#currentValue{
  color: #2196F3;
  margin-left: 80px;
  font-weight: bold;
}